QListWidget{
	selection-background-color: rgb(98, 98, 98);
}
QTableView{
	selection-background-color: rgb(98, 98, 98);
}
QPushButton:disabled{
	background: rgb(100, 100, 100);
	color: rgb(206, 206, 206);
}
QPushButton:hover{
	background: rgb(98, 98, 98);
	border: 1px solid rgb(53, 53, 53);
}